// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: Lato;
}

.basket-item__button-group {
  button {
    width: 50%;
  }
  &.btn-group {
    display: block;
  }
}